{% extends 'app/base.html' %}
{% load static %}
{% block title %} password Reset complete{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-7 offset-sm-5">
            <h4>Reset password completed..!!</h4>
            <div><iframe src="https://media.tenor.com/images/771577ac99bc46709e85e2f8ad5376ea/tenor.gif" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
    </div>
</div>
{% endblock %}