{% extends 'app/base.html' %}
{% load static %}
{% block title %} change password{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome shubham</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary"> change password</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>password changed successfully !!</h3>
            <div><iframe src="https://media.tenor.com/images/771577ac99bc46709e85e2f8ad5376ea/tenor.gif" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
    </div>
</div>
{% endblock %}